
@{
    ViewBag.Title = "Index";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Dean's Games</title>
</head>
<body>
    <h1>Dean's Server Side Games</h1>
    <form action="/Games/TicTacToe/" method="post">
        <p>TicTacToe</p>
        <button type="submit" class="btn btn-primary">Launch Game</button>
    </form>
</body>
</html>

