
@{
    ViewBag.Title = "Home";
}

<style>
    p {
        background-color: #f8fe6b;
        padding: 10px;
        display: none;
    }
    span:hover + p {
        display: block;
    }
</style>

<h1>Home Page</h1>
<body>
    <div>
        <h4>Thank You For Visiting</h4>
        <span>
            @using (Html.BeginForm("ChooseGame", "Home"))
            {
                @Html.Label("name", "Please enter your name:  ")
                @Html.TextBox("name")
                <button>ENTER</button>
            }
        </span>
        <p>
            Must be between 1-18 characters!
        </p>
    </div>
</body>

